@model Clubmates.web.Models.AdminViewModel.ClubViewModel

<div class="clubmates-form-container">
    <form class="form" asp-action="EditClub" asp-controller="Admin" method="post">
        <div class="text-danger" asp-validation-summary="All"></div>
        <input type="hidden" asp-for="ClubId" />
        <div class="form-group">
            <label for="ClubName">Club Name</label>
            <input type="text" class="form-control" id="ClubName" name="ClubName" value="@Model.ClubName" />
            <span asp-validation-for="ClubName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="ClubType">Club Type</label>
            @Html.DropDownListFor(x => x.ClubType, Model.ClubTypes, "Select a Type", new { @id = "ClubType", @class = "form-control" })
            <span asp-validation-for="ClubType" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="ClubCategory">Club Category</label>
            @Html.DropDownListFor(x => x.ClubCategory, Model.ClubCategories, "Select a Category", new { @id = "ClubCategory", @class = "form-control" })
            <span asp-validation-for="ClubCategory" class="text-danger"></span>
        </div>

        <div class="form-group"> 
           <label for="ClubManager">Club Manager Email</label> 
          <input type="text" class="form-control" id="ClubManager" name="ClubManagerEmail" value="@Model.ClubManagerEmail" /> 
           <span asp-validation-for="ClubManagerEmail" class="text-danger"></span> 
        </div> 
           
       
        <div class="form-group">
            <label for="ClubDescription">Club Description</label>
            <input type="text" class="form-control" id="ClubDescription" name="ClubDescription" value="@Model.ClubDescription" />
            <span asp-validation-for="ClubDescription" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="ClubRules">Club Rules</label>
            <input type="text" class="form-control" id="ClubRules" name="ClubRules" value="@Model.ClubRules" />
            <span asp-validation-for="ClubRules" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="ClubContactNumber">Club Contact Number</label>
            <input type="text" class="form-control" id="ClubContactNumber" name="ClubContactNumber" value="@Model.ClubContactNumber" />
            <span asp-validation-for="ClubContactNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="ClubEmail">Club Email</label>
            <input type="email" class="form-control" id="ClubEmail" name="ClubEmail" value="@Model.ClubEmail" />
            <span asp-validation-for="ClubEmail" class="text-danger"></span>
        </div>
        <div class="btnTop">
        <a class="btn btn-primary" asp-controller="Admin" asp-action="ManageClubs">Back</a>
        <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>



